<div class="row">
    <div class="small-12 small-centered columns text-center"><h1 class="text-center">User Settings</h1></div>
</div>
<br>
<br>
<form>
  <div class = "row">
    <div class="small-3 columns"><h4 class="prefix">Name: {{user.name}}</h4></div>
    <div class="small-6 columns"><input type="text" placeholder="New Name*" ng-model="newUser.name"></div>
    <div class="small-3 columns"></div>
  </div>
  <div class = "row">
    <div class="small-3 columns"><h4 class="prefix">Email: {{user.email}}</h4></div>
    <div class="small-6 columns"><input type="text" placeholder="New Email*" ng-model="newUser.email"></div>
    <div class="small-3 columns"></div>
  </div>
  <div class = "row">
    <div class="small-3 columns"><h4 class="prefix">Phone: {{user.phone}}</h4></div>
    <div class="small-6 columns"><input type="text" placeholder="New Number*" ng-model="newUser.phone"></div>
    <div class="small-3 columns"></div>
  </div>
  <div class = "row">
    <div class="small-12 columns"><button type="submit" ng-click="updateUser(newUser)" class="button info">Submit</button>
  </div>
  </div>
</form>
