<div id="weekly" class="row no-margin full-height">
    <div class="row center">
        <h2 class="center">Week at a Glance: <small>{{weekRangeString}}</small></h2>
        <hr>
        <div class="week-day-block" ng-repeat="day in weekdays" ng-class=" (date == day.date) ? 'currentDay' : '' ">
            <div class="week-day-task" ng-repeat="habit in day.habits" ng-class=" (habit.completed) ? 'habitComplete' : 'habitIncomplete' " tooltips tooltip-template="{{habit.name}}">
            </div>
            <h6>{{day.dayNum}}</h6>
        </div>
    </div>
    <div class="row center">
        <br>
        <div class="row">
            <div class="small-4 medium-4 columns">
                <h3>Habit Title</h3>
            </div>
            <div class="small-4 medium-4 columns">
                <h3>Schedule</h3>
            </div>
            <div class="small-2 medium-3 columns">
                <h3>Overall Completed</h3>
            </div>
        </div>
        <hr>
        <div class="row center" ng-repeat="habit in habits" id="weekly-habit-rates">
            <div class="small-4 medium-4 columns">
                <h5>{{habit.name}}</h5>
            </div>
            <div class="small-4 medium-4 columns">
                <h6>{{habit.dateRange}}</h6>
            </div>
            <div class="small-2 medium-3 columns">
                <h5>{{habit.complete_days.length}}</h5>
            </div>
        </div>
    </div>
</div>